@media (max-width: 991px) {
    .header {
        &__logo {
            width: 200px;
            margin-left: 10px;
        }
        &__contacts {
            margin-right: 10px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .consultation {
        min-height: 600px;
        padding-top: 60px;
        .title_left {
            font-size: 30px;
            text-align: center;
        }
        &__desc {
            text-align: center;
            margin-top: 50px;
        }
        .feed-form {
            display: flex;
            width: 400px;
            margin: 0 auto;
            margin-top: 60px;
            .button_submit{
                width: 100%;
                margin-top: 35px;
            }
        }
    }
    .carousel {
        padding-bottom: 60px;
    }
    .catalog {
        padding-bottom: 50px;
        &__content {
            justify-content:space-around;
        
        }
    }
    .reviews {
        &__items {
            max-width: 90%;
        }
        &__item {
            img {
                margin-right: 45px;
                margin-left: 15px;
            }
        }
    }

}
