@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';
@import 'blocks/advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carusel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/reviews.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';

@import 'media.scss'